{% comment %}
  Get the last 5 projects from updated list.
{% endcomment %}

{% assign MAX_SIZE = 5 %}

{% assign all_list = "" | split: "" %}

{% for project in site.projects %}
  {% if project.updated %}
    {% capture elem %}
      {{- project.updated | date: "%Y%m%d%H%M%S" -}}::{{- forloop.index0 -}}
    {% endcapture %}
    {% assign all_list = all_list | push: elem %}
  {% endif %}
{% endfor %}

{% assign all_list = all_list | sort | reverse %}

{% assign update_list = "" | split: "" %}

{% for entry in all_list limit:MAX_SIZE %}
  {% assign update_list = update_list | push: entry %}
{% endfor %}

{% if update_list.size > 0 %}

  <div id="access-lastmod" class="post">
    <div class="panel-heading">{{- site.data.locales[lang].panel.lastmod -}}</div>
    <ul class="post-content pl-0 pb-1 ml-1 mt-2">
      {% for item in update_list %}
        {% assign index = item | split: "::" | last | plus: 0 %}
        {% assign project = site.projects[index] %}
        {% assign url = project.url | relative_url %}
      <li><a href="{{ url }}">{{ project.title }}</a></li>
      {% endfor %}
    </ul>
  </div> <!-- #access-lastmod -->

{% endif %}